* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.between {
    display: flex;
    justify-content: space-between;

    a {
        align-self: start;
    }
}

body {
    main {
        #forumRoot {
            header {
                a {
                    padding-right: 1.6 rem;
                }
            }
        }
    }
}